* {
    font-family:Arial, Helvetica, sans-serif;
    
}

/* Estilo para el footer */
.footer-page {
    position:fixed;
    margin-top:30px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #a4eea6; /* Cambia el color de fondo según tus preferencias */
    padding: 10px 0; /* Espaciado interno del footer */
    text-align: center;
}


/*contenerdor del header superior*/
.navbar {
    background-color:#a4eea6 !important;    
}

.nav-link {
    color:black;
    font-size:22px;
}
.nav-link:hover {
    color:rgb(9, 63, 9) !important;
    font-size:24px;
}

/* Estilos personalizados para el formulario de búsqueda */

.form-control {
    border-radius:1rem  0 0 1rem !important; /* Redondeo de bordes - barra search*/
    }

.job-list-item {
    border: 1px solid #e2e2e2; /* Borde sólido */
    border-radius: 3px; /* Redondeo de bordes */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Sombreado */
    padding: 30px;
    background-color: #fff; /* Fondo blanco */
    
}

.job-list-item a {
    font-size: 20px;
    color:#000000;
    text-decoration: none;
}

.custom-input {
    border: none; /* Elimina el borde del input */
    border-radius: 3; /* Elimina el redondeo del input */
    
}

/* Estilo personalizado para el botón */
.custom-button {
    background-color: #066133 !important; /* Cambia este color al que desees */
    color: #fff; /* Color del texto en el botón */
    border-radius: 0 1rem 1rem 0 !important; /* Redondeo de bordes */
}

/* Estilo para el botón cuando se le pasa el mouse */
.custom-button:hover {
    background-color: #43b472 !important; /* Cambia este color al que desees para el hover */
    color: #fff !important; /* Cambia el color del borde del botón en hover (si deseas cambiarlo) */
}

/* Estilo personalizado para los botones primary */
.custom-primary-button {
    background-color: #066133 !important; /* Color de fondo personalizado */
    border: none !important; /* Eliminar el borde */
    color: #fff !important; /* Color del texto */
    padding: 10px 20px !important; /* Espaciado interior */
    border-radius: 5px !important; /* Bordes redondeados */
    transition: background-color 0.3s !important; /* Transición suave para el color de fondo */
}

/* Estilo para el botón Kirjaudu sisään al pasar el mouse */
.custom-primary-button:hover {
    background-color: #099b52 !important; /* Cambiar el color de fondo al pasar el mouse */
}

/* Estilo para separar las tarjetas de resultados */
.res-card {
    width:100% !important;
    border: 1px solid #e2e2e2;
    background-color: rgb(246, 249, 247) !important;
    border-radius: 3px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Agrega un margen inferior entre las tarjetas */
}

.card-title {
    background-color:#96ebc3;
    padding: 5px 0;
    text-align:justify;
}

.res-card:hover {
    background-color: #fff !important; /* Cambia el color de fondo al pasar el mouse */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); /* Cambia el sombreado al pasar el mouse */
    border-color:#1bea22;
}
.res-card a {
    font-size: 20px;
    color: #070707;
    text-decoration: none;
    
}
/* Estilo para el último elemento (para eliminar el margen inferior en el último elemento) */
.res-card:last-child {
    margin-bottom: 0;
}

/* Estilo para las etiquetas de los filtros */
.form-label {
    font-weight: bold;
    
}

.form-select:hover {
border-color:#1bea22 !important;
}


/*pagina detalle_oferta*/
/* Estilo para el título con fondo verde claro */
.title-bg {
    background-color: #e0f7d3;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}

/* Estilo para la empresa con el icono de edificio */
.company-icon::before {
    content: "\f1ad"; /* El código Unicode del icono de edificio en Font Awesome */
    font-family: "Font Awesome 6 Free";
    margin-right: 5px;
}

/* Estilo para las fechas con iconos de calendario */
.date-icon::before {
    content: "\f073"; /* El código Unicode del icono de calendario en Font Awesome */
    font-family: "Font Awesome 6 Free";
    margin-right: 5px;
}

@media (max-width: 767px) {
    .my-custom-card {        
              width: 80%; /* Establece el ancho al 100% en dispositivos móviles */
              margin-right: 0; /* Elimina el margen derecho en dispositivos móviles si es necesario */
              margin-left: 0; /* Elimina el margen izquierdo en dispositivos móviles si es necesario */
            }
     .form-select {
                width: 90% !important; /* Establece el ancho al 80% en dispositivos móviles (ajusta según tus necesidades) */
                margin-right: 0; /* Elimina el margen derecho en dispositivos móviles si es necesario */
                margin-left: 10px; /* Elimina el margen izquierdo en dispositivos móviles si es necesario */
            }
            .col-md-2 {
                margin-left:10px;
               align-items: center;
            }
            .res-card {
                width:95% !important;
                border: 1px solid #e2e2e2;
                background-color: rgb(246, 249, 247) !important;
                border-radius: 3px;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
                margin-bottom: 10px; /* Agrega un margen inferior entre las tarjetas */
                margin-top:10px;
                margin-left:10px;
            }
  }
