* {
    font-family:Arial, Helvetica, sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Hace que el contenido principal crezca y ocupe todo el espacio disponible */
main {
    flex: 1 0 auto;
}

/* Tu footer ya tiene algunos estilos, pero asegurémonos de que no sea flexible en su crecimiento */
.footer {
    flex-shrink: 0;
}


/*contenerdor del header superior*/
.navbar {
    background-color:#003e29 !important;    
}

.nav-link {
    color:#fff !important;
    font-size:22px;
}
.nav-link:hover {
    color:#07a757 !important;
    
}

/* Estilos personalizados para el formulario de búsqueda */

.form-control {
    border-radius:1rem  1rem 1rem 1rem !important; /* Redondeo de bordes - barra search*/
    
    }
    .input-group.index {
        width: 50%; /* O el valor que prefieras */
        margin: 0 auto; /* Para centrarlo */
    }
    
.custom-border {
    border-radius: 1rem 0 0 1rem !important;
    border-color: #000000;
}

.custom-border:hover {
    border-color:#1313e3;
    
}

.divConImagen {
    width: 50% ; /* Puedes ajustar esto según tus necesidades */
    height: 400px; /* Ajusta esto según el alto que desees para la imagen */
    
    /* Usa múltiples fondos: primero el gradiente y luego la imagen */
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255,255,255,1)), url('../resources/images/jobs.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.centrado {
    position:absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%); /* Esta técnica es conocida para centrar contenido en el centro exacto de un contenedor. */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ocupa todo el ancho del contenedor principal. */
}

.custom-card {
    border: 1px solid #e2e2e2; /* Borde sólido */
    border-radius: 3px; /* Redondeo de bordes */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Sombreado */
    padding: 30px;
    background-color: #fff; /* Fondo blanco */
    
}


.custom-card a {
    font-size: 20px;
    color:#000000;
    text-decoration: none;
}

.custom-input {
    border: none; /* Elimina el borde del input */
    border-radius: 3; /* Elimina el redondeo del input */
    
}

/* Estilo personalizado para el botón Kirjaudu */
.custom-button {
    background-color: #066133 !important; /* Cambia este color al que desees */
    color: #fff; /* Color del texto en el botón */
    border-radius: 0 1rem 1rem 0 !important; /* Redondeo de bordes */
}

/* Estilo para el botón cuando se le pasa el mouse por encima a kirjaudu */
.custom-button:hover {
    background-color: #43b472 !important; /* Cambia este color al que desees para el hover */
    color: #fff !important; /* Cambia el color del borde del botón en hover (si deseas cambiarlo) */
}

.custom-save {
    background-color: #066133 !important;
    color: #fff; /* Esto es para asegurarse de que el texto sea blanco, puedes ajustar según tu preferencia */
    border: none; /* Esto quita el borde por defecto que algunos navegadores añaden a los botones */
}
.custom-save:hover, 
.custom-save:active {
    background-color: #43b472 !important;
    color: #fff;
}

/* Estilo personalizado para los botones primary */
.custom-primary-button-log {
    background-color: #0da358 !important; /* Color de fondo personalizado */
    border: none !important; /* Eliminar el borde */
    color: #fff !important; /* Color del texto */
    padding: 10px 20px !important; /* Espaciado interior */
    border-radius: 5px !important; /* Bordes redondeados */
    transition: background-color 0.3s !important; /* Transición suave para el color de fondo */
}


/* Estilo para el botón Kirjaudu sisään al pasar el mouse */
.custom-primary-button-log:hover {
    background-color: #ade6b9 !important; /* Cambiar el color de fondo al pasar el mouse */
    color:#000000 !important;
}

/*Kirjaudu ulos Boton*/

.custom-primary-button-out {
    background-color: #c31a1a !important; /* Cambiar el color de fondo al pasar el mouse */
}

.custom-primary-button-out:hover {
    background-color: #fc0303 !important; /* Cambiar el color de fondo al pasar el mouse */
}

/* Estilo para separar las tarjetas de resultados */
.res-card {
    width:90% !important;
    border: 1px solid #e2e2e2;
    background-color: #fff !important;
    border-radius: 3px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Agrega un margen inferior entre las tarjetas */
}

.card-title {
    background-color:#fff;
    color: #033f21;    
    padding: 5px 0;
    
    
}

.res-card:hover {
    background-color: #fff !important; /* Cambia el color de fondo al pasar el mouse */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); /* Cambia el sombreado al pasar el mouse */
    border-color:#0d1bda;
}
.res-card a {
    font-size: 20px;
    color: #070707;
    text-decoration: none;
    
}
/* Estilo para el último elemento (para eliminar el margen inferior en el último elemento) */
.res-card:last-child {
    margin-bottom: 0;
}

/* Estilo para las etiquetas de los filtros */
.form-label {
    font-weight: bold;
    
}

.form-select:hover {
border-color:#037807 !important;
}

.filtro-activo {
    border-color:#121312;
    border: #000000;
}



/*pagina detalle_oferta*/
/* Estilo para el título con fondo verde claro */
.title-bg {
    background-color: #e0f7d3;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
}

/* Login box */

.shadow-box {
    color:#0B3B0B;
    background-color: #b6f1b8 !important;
    padding: 20px; 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    border: #000000;
}


/* Estilo para la empresa con el icono de edificio */
.company-icon::before {
    content: "\f1ad"; /* El código Unicode del icono de edificio en Font Awesome */
    font-family: "Font Awesome 6 Free";
    margin-right: 5px;
}

/* Estilo para las fechas con iconos de calendario */
.date-icon::before {
    content: "\f073"; /* El código Unicode del icono de calendario en Font Awesome */
    font-family: "Font Awesome 6 Free";
    margin-right: 5px;
}


/* admin panel*/

.offer-list .offer-item, .user-list .user-item {
    color: #000000;
    padding: 10px;
    border: 1px solid #0b0b0b;
    border-radius: 5px;
    background-color: #dfe8df;
}

.offer-list .offer-item:hover {
    background-color: #6db86d; /* Un color de fondo ligeramente más oscuro al pasar el ratón por encima */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Una sombra sutil para dar sensación de elevación */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave de los cambios */
    border-color:#1313e3;
}

.offer-list .offer-item:not(:last-child), .user-list .user-item:not(:last-child) {
    margin-bottom: 15px;
}



@media (max-width: 767px) {
    .my-custom-card {        
              width: 80%; /* Establece el ancho al 100% en dispositivos móviles */
              margin-right: 0; /* Elimina el margen derecho en dispositivos móviles si es necesario */
              margin-left: 0; /* Elimina el margen izquierdo en dispositivos móviles si es necesario */
            }
     .form-select {
                width: 90% !important; /* Establece el ancho al 80% en dispositivos móviles (ajusta según tus necesidades) */
                margin-right: 0; /* Elimina el margen derecho en dispositivos móviles si es necesario */
                margin-left: 10px; /* Elimina el margen izquierdo en dispositivos móviles si es necesario */
            }
            .col-md-2 {
                margin-left:10px;
               align-items: center;
            }
            .res-card {
                width:95% !important;
                border: 1px solid #e2e2e2;
                background-color: rgb(246, 249, 247) !important;
                border-radius: 3px;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
                margin-bottom: 10px; /* Agrega un margen inferior entre las tarjetas */
                margin-top:10px;
                margin-left:10px;
            }

            .divConImagen {
                width: 100%;    
                height: 200px;            
            }
        
            .centrado {
                position: relative; /* Usa posicionamiento relativo o simplemente remuévelo */
                transform: none; /* Remueve la transformación */
                top: auto; /* Restaura las propiedades de top y left */
                left: auto;
                margin-top: 20px; /* Agrega espacio en la parte superior */
            }

            .input-group.index {
                width: 100%; /* O el valor que prefieras */
                margin: 0 auto; /* Para centrarlo */
            }
        }
  